    
    
    a.logo {
        margin-top: 5px;
    }
    
    ul.faq-menu {
        margin-top: 125px;
    }
    
    ul.faq-menu li a {
        
        padding: 7px 0 7px 7px;
    }
    
    .form_element {
        font-size: 2.0vw;
    }


    input[type=submit] {
        color: #050;
        background-color: #ff8080;
    }

    input[type="text"] {
        font-size: 20px;
        color: #050;
        background-color: #e0e0e0;
    }

    input {
        width: 40em;
        font-size: 18px;
    }

 

    #drop-region {
        background-color: #4CAF50;
        color: white;
        border-radius:20px;
        box-shadow:0 0 35px rgba(0,0,0,0.05);
        width:400px;
        padding:60px 40px;
        text-align: center;
        cursor:pointer;
        transition:.3s;
    }
    #drop-region:hover {
        box-shadow:0 0 45px rgba(0,0,0,0.1);
    }


    button,
    input[type="button"],
    input[type="submit"],
    input[type="file"] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

    select {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 200px;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
            linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }

    select::-ms-expand {
        display: none;
    }

    select:hover {
        border-color: #888;
    }

    select:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    select option {
        font-weight: normal;
    }




    .bass_radio_item{
        display: none !important;
        border: 1px solid #808080;
        }

        .bass_radio_item:checked {
        border: 2px solid #0000ff;

        }

        .label_item {
        opacity: 0.5;
        }
        
        .bass_radio_item:checked + label {
        opacity: 1;
        }

    label {
    cursor: pointer;   
    }

    .staff_radio_item{
        display: none !important;
        border: 1px solid #808080;
        }

        .bass_radio_item:checked {
        border: 2px solid #0000ff;

        }

        .label_item {
        opacity: 0.5;
        }
        
        .staff_radio_item:checked + label {
        opacity: 1;
        }

    label {
    cursor: pointer;   
    }

    .bass_image {

        width: 120px;
        height: 75px;
        padding: 4px;
        border: 1px solid #808080;
    }

    .staff_image {

        width: 200px;
        height: 145px;
        padding: 4px;
        border: 1px solid #808080;
    }

    /* Style the top_menu */
    .top_menu {
        overflow: hidden;
        border: 1px solid #444;
        background-color: #888;
        width: 80vw
    }
            
    /* Style the buttons inside the top_menu */
    .top_menu button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 16px;
    }
            
    /* Change background color of buttons on hover */
    .top_menu button:hover {
        background-color: #666;
    }
    
    /* Create an active/current tablink class */
    .top_menu button.active {
        background-color: #444;
    }
    
    /* Style the top_menu content */
    .content_text {
        display: none;
        padding: 6px 12px;
        border: 1px solid #aaa;
        border-top: none;
    }

    .info {
        color: #206080;
        background-color: #e0f0f7;
        padding: 10px;

        width: 80%;
    }
    .info img {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        width: 33vw;
    }

    /* zoom buttons */
   
      #zoom_navbar {
          overflow: hidden;
          background-color: #099;
          color: #fff;
          xxposition: fixed;
          xxtop: 0;
          width: 100%;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 20px;
      }
      #zoom_navbar a {
        float: left;
        display: block;
        color: #666;
        text-align: center;
        padding-right: 20px;
        text-decoration: none;
        font-size: 17px;
      }
      #zoom_navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      #zoom_navbar a.active {
        background-color: #4CAF50;
        xxcolor: white;
        color: yellow;
      }
      

